.notification-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
}

.delete-btn {
  background: none;
  border: none;
  color: red;
  cursor: pointer;
  font-size: 14px;
}

.clear-btn {
  background: none;
  border: none;
  color: #ff4d4d;
  cursor: pointer;
}
